@import "tailwindcss";

:root {
  --font-family: ui-sans-serif;
}

.vpc-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/vpc.gif');
  background-size: fit;
  background-position: center;
  background-repeat: no-repeat;
}
